<form method="get" action="/quizes/<%= quiz.id %>/answer">
    <b>Tema:</b> <%= quiz.tema %> <p>
    <b>Pregunta:</b> <%= quiz.pregunta %> <p>

    <input type="text" name="respuesta" value="Responda Aquí"/>
    <input type="submit" value="Enviar" />
</form>